@media (min-width: 280px) {
    .container {
      width: 75%;
    }
  }
  
  @media (min-width: 576px) {
    .container {
      width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      width: 50%;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 50%;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 25%;
    }
  }
  
  @media (min-width: 1400px) {
    .container {
      width: 25%;
    }
  }
body{
    background-color: rgb(242, 246, 247);
}
.btn:focus{
  box-shadow: none !important
}
.btn:hover {
  box-shadow: none !important;
}
.btn{
  border-top: hidden;
    border-color: black;
    border-radius: 0px;
    width: 60px;
    height: 60px;
    background-color: rgb(242, 246, 247);
    place-items:center;
}
.down{
  border-bottom: hidden;
}
.left{
  border-left: hidden;
}
.right{
  border-right: hidden;
}
.center{
  margin-left: -6px;
  margin-right: -6px;
}
.btnn{
  margin-left: 75px;
}